<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="Community" type="com.parkspace.db.rmdb.entity.Community"/>
		<typeAlias alias="Zone" type="com.parkspace.db.rmdb.entity.Zone"/>
		<typeAlias alias="ParkingSpace" type="com.parkspace.db.rmdb.entity.ParkingSpace"/>
		<typeAlias alias="PropertyMgmtUser" type="com.parkspace.db.rmdb.entity.PropertyMgmtUser"/>
		<typeAlias alias="BlackList" type="com.parkspace.db.rmdb.entity.BlackList"/>
		<typeAlias alias="SpaceOwner" type="com.parkspace.db.rmdb.entity.SpaceOwner"/>
		<typeAlias alias="ShareConfig" type="com.parkspace.db.rmdb.entity.ShareConfig"/>
		<typeAlias alias="Caruser" type="com.parkspace.db.rmdb.entity.Caruser"/>
		<typeAlias alias="ParkingSpaceBill" type="com.parkspace.db.rmdb.entity.ParkingSpaceBill"/>
		<typeAlias alias="ParkingSpaceBillHis" type="com.parkspace.db.rmdb.entity.ParkingSpaceBillHis"/>
	</typeAliases>
 	<plugins>
	 	<plugin interceptor="com.github.pagehelper.PageInterceptor">
	 		<property name="helperDialect" value="mysql"/>
	        <property name="offsetAsPageNum" value="true"/>
	        <property name="rowBoundsWithCount" value="true"/>
	        <property name='pageSizeZero' value="true"/>
	 	</plugin>
 	</plugins>

</configuration>
